# Accessing Data from Loaded in Files

In [47]:
import pandas as pd

In [48]:
# Import data sets or local ones and input to data frames
coffee = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/warmup-data/coffee.csv')
results = pd.read_parquet('./data/results.parquet')
bios = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/complete-pandas-tutorial/refs/heads/master/data/bios.csv')

In [49]:
# Accessing data, similar to a normal python list

# Tail works the same as head but it gets the last 5 by default
coffee.tail()

# Access a random number of rows, not in order
coffee.sample(7)

# loc allows us to filter by rows and columns in this format: df.loc[rows, cols]
coffee.loc[0]                               # Gives us the first rows worth of data
coffee.loc[[0,1,2]]                         # First three rows
coffee.loc[0:2]                             # Same but in slice format
coffee.loc[::-1]                            # Backwards
coffee.loc[0::2]                            # Evens
coffee.loc[3:6, ["Day", "Units Sold"]]      # Rows 3 through 6 and only those two columns

# iloc functions the same as loc but the columns are indexes not their labels
coffee.iloc[::, [0]]                        # All rows but just the first indexed column
coffee.iloc[3::-1, [1,2]]                   # From row 3 to 0, only those two columns

  Coffee Type  Units Sold
3       Latte          20
2    Espresso          30
1       Latte          15
0    Espresso          25

In [46]:
# Change the row index to the day of the week, from ints to a string
coffee.index = coffee["Day"]

coffee.loc["Monday":"Wednesday"]        # The changed index allows us to sort days instead of indexes now
coffee.loc["Wednesday":, "Units Sold"]  # Wed -> onward, number of units sold

Day
Wednesday    35
Wednesday    25
Thursday     40
Thursday     30
Friday       45
Friday       35
Saturday     45
Saturday     35
Sunday       45
Sunday       35
Name: Units Sold, dtype: int64

In [ ]:
#