# Basic Pandas Usage and Tools

In [6]:
import pandas as pd
import numpy as np

In [2]:
# Data frames are the main tool of the pandas package
# Think of a 'df' as an excel spreadsheet or a table but with A TON of extra functions

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index=["x", "y", "z"])

In [3]:
# Shows us the data frame
df

# Show us the column names in list print format
df.columns
# Shows the index (row) names or numbers in the same format as columns
df.index

# Shows us the first five rows by default
# Can specify the amount of rows by putting an int in the ()'s
df.head(3)

# Shows the (row, col) count
df.shape
# Gives us some quick info about our df
df.info()
# Quick summary stats
df.describe()

# Find a value quickly, or some values from the df
df['A'].unique()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

array([1, 4, 7])

### Hangling Null Values

In [39]:
# Using the coffee df for this
coffee = pd.read_csv('./data/coffee.csv')

# Add in some NaN values to mess with (using numpy)
coffee.loc[[3, 4], 'Units Sold'] = np.nan

# Gives a nice number per column of null values
coffee.isna().sum()

# Looking for NaN rows
coffee[coffee['Units Sold'].isna()]

# Non NaN row
coffee[coffee['Units Sold'].notna()]

# Handling the NaN with just a mean value of the values we know
coffee.fillna(coffee['Units Sold'].mean(), inplace=True)

# Interpolate looks at your data to find paterns and make a best guess
# coffee['Units Sold'].interpolate()

# Could just drop the NaN records, not best practice
# coffee = coffee.dropna(inplace=True)
# Specifically for a column to look for na: coffee.dropna(subset=['Units Sold])


coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso       25.00
1     Monday       Latte       15.00
2    Tuesday    Espresso       30.00
3    Tuesday       Latte       33.75
4  Wednesday    Espresso       33.75

### Aggregate Data

In [ ]:
bios =