## Filtering Data from the Data Frame

In [30]:
import pandas as pd

In [31]:
# Data set import
bios = pd.read_excel('./data/olympics-data.xlsx')
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [ ]:
# Filtering the data
# Get the name and height for players taller than 215cm, both are the same but diff syntax
bios.loc[bios['height_cm'] > 215, ['name', 'height_cm']]
bios[bios['height_cm' ] > 215][['name', 'height_cm']]

# Multiple conditions, height above 215 and born country USA
bios.loc[(bios['height_cm'] > 215) & (bios['born_country']=='USA')]

# Seeing if a string contains something, then if so output name and home country
bios.loc[bios['name'].str.contains("Keith"), ['name', 'born_country']]

# Keith OR Patrick
bios.loc[bios['name'].str.contains("Keith|Patrick"), ['name', 'born_country']]

# Keith OR Patrick, output in decending order from date died
bios.loc[bios['name'].str.contains("Keith|Patrick"), 
         ['name', 'died_date', 'born_country']].sort_values('died_date', ascending=False)

# Records with one of these countries, then see if we have a first name Jamess
# Then output name, born country, and birthday (oldest to youngest)
bios.loc[bios['born_country'].isin(["USA", "FRA", "GBR"]) 
         & (bios['name'].str.startswith("James")), 
         ['name', 'born_country', 'born_date']].sort_values('born_date', ascending=False)

# Different way of doing this stuff, like shorthand
# Same as: bios.loc[(bios['born_country'] == "USA") & (bios['born_city'] == "Dallas")]
bios.query('born_country == "USA" and born_city == "Dallas"')

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
3209,3221,Chad Allen,1975-02-06,Dallas,Texas,USA,United States,185.0,86.0,NaN
3234,3246,Calvin Murray,1971-07-30,Dallas,Texas,USA,United States,180.0,84.0,NaN
6256,6284,Grant Hill,1972-10-05,Dallas,Texas,USA,United States,203.0,102.0,NaN
13352,13434,Lance Armstrong,1971-09-18,Dallas,Texas,USA,United States,178.0,75.0,NaN
31243,31479,Rowland Wolfe,1914-10-08,Dallas,Texas,USA,United States,NaN,NaN,2010-01-14
49548,49905,David Monasterio,1971-01-13,Dallas,Texas,USA,Puerto Rico,NaN,NaN,NaN
50725,51084,Megan Kleine,1974-12-22,Dallas,Texas,USA,United States,167.0,48.0,NaN
50810,51169,Judy Roberts,1934-05-15,Dallas,Texas,USA,United States,NaN,NaN,2016-11-22
50990,51349,Geoff Gaberino,1962-07-18,Dallas,Texas,USA,United States,190.0,81.0,NaN
54596,54989,Dean Willeford,1944-10-09,Dallas,Texas,USA,United States,180.0,80.0,NaN
56632,57035,Sam Walker,1950-08-15,Dallas,Texas,USA,United States,193.0,123.0,NaN
77359,77950,Louise Ritter,1958-02-18,Dallas,Texas,USA,United States,178.0,59.0,NaN
77375,77966,Cherrie Sherrard,1938-08-25,Dallas,Texas,USA,United States,169.0,64.0,NaN
77618,78209,Mike Carter,1960-10-29,Dallas,Texas,USA,United States,189.0,127.0,NaN
78025,78616,Michael Johnson,1967-09-13,Dallas,Texas,USA,United States,183.0,77.0,NaN
78028,78619,Stone Johnson,1940-04-26,Dallas,Texas,USA,United States,188.0,79.0,1963-09-08
78149,78740,Roy Martin,1966-12-25,Dallas,Texas,USA,United States,183.0,79.0,NaN
78244,78835,McClinton Neal,1968-07-11,Dallas,Texas,USA,United States,193.0,88.0,NaN
78482,79073,Eddie Southern,1938-01-04,Dallas,Texas,USA,United States,185.0,81.0,2023-05-17
88390,89098,Erin Aldrich,1977-12-27,Dallas,Texas,USA,United States,186.0,62.0,NaN
89053,89764,Ricky Grace,1966-08-20,Dallas,Texas,USA,Australia,185.0,85.0,NaN
93177,93925,Carrie Barton,1976-05-19,Dallas,Texas,USA,United States,165.0,59.0,NaN
98260,99054,Paul Wylie,1964-10-28,Dallas,Texas,USA,United States,162.0,56.0,NaN
105570,106622,Khadevis Robinson,1976-07-19,Dallas,Texas,USA,United States,185.0,72.0,NaN
106611,107718,Sara Lowe,1984-04-30,Dallas,Texas,USA,United States,167.0,56.0,NaN
106695,107803,Darvis Patton,1977-12-04,Dallas,Texas,USA,United States,183.0,79.0,NaN
108330,109479,Dan Klatt,1978-10-28,Dallas,Texas,USA,United States,195.0,92.0,NaN
108583,109743,John Baldwin,1973-10-18,Dallas,Texas,USA,United States,175.0,74.0,NaN
112186,113441,Jayson Nix,1982-08-26,Dallas,Texas,USA,United States,180.0,89.0,NaN
112190,113445,Taylor Teagarden,1983-12-21,Dallas,Texas,USA,United States,187.0,90.0,NaN
112367,113623,Chris Bosh,1984-03-24,Dallas,Texas,USA,United States,208.0,104.0,NaN
113887,115189,Marshevet Hooker,1984-09-25,Dallas,Texas,USA,United States,175.0,67.0,NaN
115763,117130,Florian Temengil,1986-11-04,Dallas,Texas,USA,Palau,183.0,125.0,NaN
115863,117233,Tanyaporn Prucksakorn,1990-01-08,Dallas,Texas,USA,Thailand,168.0,70.0,NaN
117370,118858,Tucker Murphy,1981-10-21,Dallas,Texas,USA,Bermuda,193.0,81.0,NaN
118383,120093,Zain Shaito,1990-10-19,Dallas,Texas,USA,Lebanon,185.0,72.0,NaN
123851,126094,Jason Young,1981-05-27,Dallas,Texas,USA,United States,185.0,118.0,NaN
124246,126534,Claire Donahue,1989-01-12,Dallas,Texas,USA,United States,170.0,63.0,NaN
124403,126704,Dennis Bowsher,1983-04-07,Dallas,Texas,USA,United States,175.0,73.0,NaN
129408,132024,Courtney Okolo,1994-03-15,Dallas,Texas,USA,United States,173.0,59.0,NaN
129485,132103,Madison Kocian,1997-06-15,Dallas,Texas,USA,United States,157.0,46.0,NaN
136656,139888,Theo McLemore,2002-12-30,Dallas,Texas,USA,United States,NaN,NaN,NaN
140471,143981,Ty Kelly,1988-07-22,Dallas,Texas,USA,Israel,183.0,NaN,NaN
143486,147138,Ariel Atkins,1996-07-30,Dallas,Texas,USA,United States,173.0,76.0,NaN
143650,147304,Jourdan Delacruz,1998-05-20,Dallas,Texas,USA,United States,150.0,49.0,NaN
145385,149108,Ashley Cain-Gribble,1995-07-22,Dallas,Texas,USA,United States,NaN,NaN,NaN