In [ ]:
import pandas as pd

In [6]:
# Data frames are the main tool of the pandas package
# Think of a 'df' as an excel spreadsheet or a table but with A TON of extra functions

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [7]:
df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9